.nav-tabs {
    border-bottom: 1px solid #ccc;
}

.nav-tabs {
    border-bottom: 0 solid #dee2e6;
}
.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.btn{
    color: #FFFFFF;
    font-size: 14px;
    height: 45px;
    background-color: #ed3237;
    font-family: Roboto,sans-serif;
    border: none;
    border-radius: 3px;
    margin: 0px 235px;
    padding: 6px 12px;
    max-width: 380px;
    display: inline-block;
    width: 100%;
}

.btn:hover{
    color: #FFFFFF;
    background-color: #ed3237;
}
